@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa';
}

.home--container {
  display: grid;
  grid-template: 80px calc(100vh - 125px) / 1fr;
  grid-gap: 5px;
  padding: 25px;
  background: #F8F8FA;
}

@media screen and (max-width: 500px) {
  .home--container {
    grid-template: 80px calc(100vh - 125px) / minmax(320px, 1fr);
    padding: 10px 5px;
  }
}