
.pokemon--item {
  display: grid;
  grid-template-rows: 80px;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid #EDEAEA;
  cursor: pointer;

  figure {
    margin: 0;
    img {
      width: 70px;
    }
  }

  p {
    margin: 0;
  }
}

.active {
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
}